.search-form {
  min-width: 200px;
  max-width: 500px;
  width: 100%;
}

.search-input-field {
  width: 75%;
}

.search-button {
  width: 25%;
}


.w100 {
  width: 100%;
}

.div-class {
  min-width: 250px;
  max-width: 550px;
  width: 100%;
}
.paginador{
  float: left;
}